.myIcon {
  margin-top: 3px;
  padding-left: 10px;
}
.btn-design {
  text-decoration: none !important;
  color: #ffff !important;
  display: flex;
}
.talentBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.talentTitle {
  font-size: 62px;
  font-weight: 700;
  line-height: 72px;
  padding-top: 40px;
}
.card-slider {
  background-color: #22174b;
  border-radius: 15px;
}
/* last-card-design */
.main-SliderImg {
  margin-right: 92px;
}
.left-SliderImg {
  margin-left: 28px;
}
/* 3-card-design */
#second-img {
  width: 300px;
  background: #201548;
  border-radius: 28.9667px;
  padding: 43px 84px;
}
.flex-card1 {
  width: 300px;
  background: #201548;
  border-radius: 28.9667px;
  /* padding: 43px 84px; */
  margin-left: 70px;
  padding: 50px 60px;
}
.flex-card1 h3 {
  font-size: 48px;
}
